{% load static %}

<fieldset class="form-group border p-3">
    <legend class="w-auto px-2">Search</legend>
    <div class="row g-3">
        <div class="col-sm-2">
            Query Elsevier:
        </div>
        <div class="col-variable">
            <input type="text" class="form-control queryString" id="elsevierQueryInput" placeholder="Enter some search terms" name="elsevierQueryInput">
        </div>
        <div class="col-sm">
            <button id="elsevierQueryRunButton" type="button" class="btn btn-primary">Run</button>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-sm-2">
            Query Arxiv:
        </div>
        <div class="col-variable">
            <input type="text" class="form-control queryString" id="arxivQueryInput" placeholder="Enter some search terms" name="arxivrQueryInput">
        </div>
        <div class="col-sm">
            <button id="arxivQueryRunButton" type="button" class="btn btn-primary">Run</button>
        </div>
    </div> 
</fieldset>

<div id="queryResults" class="container-fluid"></div>

<script src="{% static 'js/search.js' %}"></script>
