<fieldset class="form-group border p-3">
    <legend class="w-auto px-2">Search</legend>
    <div class="row g-3">
        <div class="col-sm-2">
            Query Elsevier:
        </div>
        <div class="col-variable">
            <input type="text" class="form-control quesryString" id="elsevierQueryInput" placeholder="q=..." name="queryString">
        </div>
        <div class="col-sm">
            <button id="elsevierQueryRunButton" type="button" class="btn btn-primary">Run</button>
        </div>
    </div>
</fieldset>
